@import '@styles/theme.scss';

.user-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  background: #ffffff;
}

.user-login__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;

  &-img {
    width: 268px;
    height: 90px;
  }
}

.user-login__reg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 56px;
  line-height: 0;

  &-txt {
    color: $text-color;
    font-size: 28px;
    line-height: 28px;
  }
}
