@import '@styles/theme.scss';

.comp-input-number {
  display: flex;
  flex-direction: row;
  height: 52px;
}

.comp-input-number__minus,
.comp-input-number__plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 100%;
  border: 1px solid #7f7f7f;
  @include hairline(border-width);
  border-left-width: 0;
  border-radius: 0 $border-radius $border-radius 0;

  &-img {
    width: 30px;
    height: 30px;
  }
}

.comp-input-number__minus {
  @include hairline(border-left-width);
  border-right-width: 0;
  border-radius: $border-radius 0 0 $border-radius;

  &--disabled {
    border-color: #cccccc;
  }
}

.comp-input-number__num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 100%;
  border: 1px solid #7f7f7f;

  &-txt {
    color: $text-color;
    font-size: 24px;
    line-height: 24px;
  }
}
