/**
 * 对于部分不兼容的地方，可以通过 mixins 统一处理
 */

/**
 * XXX RN 无法通过 text-overflow 实现省略号，只能用 Text 的属性 numberOfLines
 * white-space 属性在 RN 上会报错，因此不能打包到 RN 中
 */
@mixin text-ellipsis() {
  /*postcss-pxtransform rn eject enable*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*postcss-pxtransform rn eject disable*/
}

@mixin lamp-clamp($line) {
  /*postcss-pxtransform rn eject enable*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /*postcss-pxtransform rn eject disable*/
}
