/* 统一成 RN 中 View 标签的默认样式 */
view, div {
  box-sizing: border-box;
}

button {
  /* 去掉微信小程序 button 的边框 */
  &:after {
    display: none;
  }
}

/* H5 根节点高度 100% */
.taro-tabbar__panel, .taro_router, .taro_page {
  flex: 1;
  display: flex;
  flex-direction: column;
}
