/* weapp */
page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

view {
  box-sizing: border-box;
}

text {
  box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
/*postcss-pxtransform rn eject enable*/
div {
  box-sizing: border-box;
}

.taro-text {
  box-sizing: border-box;
}

.taro-tabbar__panel,
.taro_router {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.taro_page {
  flex: 1;
}
/*postcss-pxtransform rn eject disable*/
