@import "@styles/theme.scss";

.home {
  position: relative;
}

.home__search {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px 20px;
  width: 100%;
  background: #ffffff;
  z-index: 9;

  &-wrap {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #333333;
    @include hairline(border-width);
    border-radius: 28px;
  }

  &-img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  &-txt {
    color: $text-color-light;
    font-size: 28px;
  }
}

.home__wrap {
  padding: 76px 0 0;
  background: #fafafa;
}

.home__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-txt {
    color: $text-color-light;
    font-size: 24px;
  }
}
