@import "@styles/theme.scss";

.cate-sub-tab {
  display: flex;
  flex-direction: row;
  /* TODO RN 端对 border 的编译存在问题，暂时用如下写法 */
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
}

.cate-sub-tab__item {
  padding: 0 32px;
  display: flex;
  flex-direction: row;

  &-txt {
    padding: 0 8px;
    height: 60px;
    color: $text-color;
    font-size: 28px;
    line-height: 28px;
    line-height: 60px;
    /*postcss-pxtransform rn eject enable*/
    white-space: nowrap;
    /*postcss-pxtransform rn eject disable*/

    &--active {
      /* TODO RN 端对 border 的编译存在问题，暂时用如下写法 */
      border: 0 solid $primary-color;
      border-bottom-width: 5px;
    }
  }
}
