@import "@styles/theme.scss";

.cate {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #ffffff;
}

.cate__menu {
  width: 162px;
  @include border(right, 1px, solid, rgba(0, 0, 0, .15));
}

.cate__list {
  // TODO 此处不能能用 flex: 1 (flex-basis: 0)，RN 上会无法滚动，跟 ScrollView 的处理有关
  flex-grow: 1;
  @include eject(flex, 1);

  &-wrap {
    padding: 30px 30px 20px;
  }
}
