.user {
  position: relative;
}

.user__wrap {
  background: #fafafa;
}

.user__logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 96px;
  background: #fff;

  &-txt {
    color: #333;
    font-size: 28px;
    line-height: 28px;
    /* TODO RN 的 Clickable 处理有问题，暂时加如下样式解决 */
    width: 100%;
    text-align: center;
  }
}

.user__empty {
  height: 40px;
}

.user__activity {
  position: absolute;
  right: 30px;
  bottom: 60px;
}
