.user {
  // TODO RN上页面默认嵌套的 ScrollView 有点问题
  // 导致 flex: 1、height: 100% 都无效
  // https://github.com/NervJS/taro/pull/2114
  min-height: 100%;
  background: #f4f4f4;
  padding-bottom: 40px;
}

.user__logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 96px;
  background: #fff;

  &-txt {
    color: #333;
    font-size: 28px;
    line-height: 28px;
    /* TODO RN 的 Clickable 处理有问题，暂时加如下样式解决 */
    width: 100%;
    text-align: center;
  }
}
