@import "@styles/theme.scss";

.cate-sub {
  position: relative;
  background: $white;
}

.cate-sub__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: $white;
}

.cate-sub__list {
  padding-top: 60px;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-txt {
      color: $text-color;
      font-size: 28px;
      line-height: 28px;
    }
  }

  &-tip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #fafafa;

    &-txt {
      color: $text-color;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
